@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
    box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #242624;
}

.App {
    padding: 1rem 2rem;
    display: flex;
    background-color: #FFFDF2;
}

.Card {
  border: 1px solid #BDBF09;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 5rem 15%;
  width: 75%;
}

.board {
    border-radius: 10px;
    min-height: 95vh;
    width: 100%;
    padding: 1rem;
}

.button {
  margin-top: 10px;
}
.main {
    flex: 0 1 100%;
}

.pipe {
  color: #D96C06;
}

.sidebar-title {
font-family: 'Fredoka One', cursive;
color: #D96C06;
}

.title > p {
  padding-top: 5px;
}

@media only screen and (min-width: 1025px) {
    .sidebar {
      flex: 0 0 300px;
      margin-top: 25px;
      border-right: 1px solid #BDBF09;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .App {
      flex-direction: column;
    }
    .sidebar {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px 0;
    }

  @media only screen and (max-width: 600px) {
    .sidebar {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
    }
    .user-info {
      margin: 0 0 10px 0;
    }
  }
}